DJANGO_DEBUG=on
DJANGO_SECRET_KEY="CHANGEME!!!jxv_c5)stctvk+o0*p$2a__5wgvj$nc^9l$vby7@^bw(ue6&x="
DJANGO_ADMINS=Some User:some.user@gmail.com,
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_STATIC_ROOT=path/to/static/root
DJANGO_MEDIA_ROOT=path/to/media/root
DJANGO_DATABASE_URL=postgis:///good_spot
DJANGO_EMAIL_URL="smtp://user@:password@localhost:25"
DJANGO_DEFAULT_FROM_EMAIL=admin@example.com
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DJANGO_SERVER_EMAIL=root@localhost.com
DJANGO_CELERY_BROKER_URL=amqp://guest:guest@localhost:5672//
DJANGO_CELERY_ALWAYS_EAGER=off
DJANGO_USE_DEBUG_TOOLBAR=off
DJANGO_USE_DEBUG_PANEL=off
DJANGO_TEST_RUN=off
DJANGO_HEALTH_CHECK_BODY="Success"
DJANGO_USE_SILK=on
DJANGO_GOOGLE_PLACES_API_KEY=

SENTRY_DSN=
DJANGO_SEOPROXY_APIUSERID=
DJANGO_SEOPROXY_APIKEY=
DJANGO_USE_AWS=off
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=
DJANGO_AWS_S3_REGION_NAME=
DJANGO_MEDIA_DOMAIN=
DJANGO_AWS_S3_CUSTOM_DOMAIN=