{% extends 'base_editor.html' %}
{% load staticfiles i18n %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        var properties = {{ properties|safe }};
        var url = "{% url 'api:editor:place_editor-list' %}";
    </script>
    <script src="{% static 'js/place_editor/place_form.js' %}"></script>

    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 600px;
            width: 600px;
            float: left;
        }

        /* Optional: Makes the sample page fill the window. */
        input[type=text].controls {
            background-color: #fff;
            border-radius: 2px;
            border: 1px solid transparent;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            box-sizing: border-box;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            height: 29px;
            margin-left: 17px;
            margin-top: 10px;
            outline: none;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 400px;
        }

        .controls:focus {
            border-color: #4d90fe;
        }

        .map-container {
            margin-top: 40px;
        }

    </style>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="/admin/places/">{% trans 'Places' %}</a>
        &rsaquo; <a href="/admin/places/place/">{% trans 'Place' %}</a>
        &rsaquo; {% trans 'Add place' %}
    </div>
{% endblock %}

{% block content %}
    <div id="place_editor_holder"></div>

    <input id="pac-input" class="controls" type="text"
           placeholder="Enter a location"/>
    <button id='submit'>{% trans "Save and continue editing" %}</button>

    <div class="map-container">
        <h3>{% trans "Place iD Research Tool" %}</h3>
        <div id="map"></div>
    </div>

    <script>
        // This sample uses the Place Autocomplete widget to allow the user to search
        // for and select a place. The sample then displays an info window containing
        // the place ID and other information about the place that the user has
        // selected.

        // This example requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -33.8688, lng: 151.2195},
                zoom: 13
            });

            var input = document.getElementById('pac-input');

            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.bindTo('bounds', map);

            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            var infowindow = new google.maps.InfoWindow();
            var marker = new google.maps.Marker({
                map: map
            });
            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });

            autocomplete.addListener('place_changed', function () {
                infowindow.close();
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    return;
                }

                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17);
                }

                // Set the position of the marker using the place ID and location.
                marker.setPlace({
                    placeId: place.place_id,
                    location: place.geometry.location
                });
                marker.setVisible(true);

                infowindow.setContent('<div><span><b>' + place.name + '</b></span><br><span>' + place.place_id + '</span><br><span>' + place.formatted_address + '</span></div>');
                infowindow.open(map, marker);
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&callback=initMap"
            async defer></script>
{% endblock %}