<br><br><br>
<div>
    <table>
        <tr>
            <th>Current populartimes</th>
        </tr>
        {% for day in object %}
            <tr>
                <td>{{ day.name }}</td>
                {% for h in day.data %}
                    <td style="vertical-align: bottom; margin: 0; padding: 0; height: 0px;">
                        <div style="vertical-align: bottom; height: 40px; width: 23px; position: relative;">
                            <div
                                    style="
                                            background: #eee;
                                            height: {{ h }}%;
                                            width: 23px;
                                            position: absolute;
                                            bottom: 0;
                                            ">
                            </div>
                        </div>
                        <div>{{ h }}</div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
